USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangePassword]    Script Date: 5/22/2024 2:53:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_ChangePassword] (
			@UserId int,
			@Email varchar(32),
			@Password varchar(64),
			@NewPassword varchar(64)
	 )
AS
  BEGIN
	IF EXISTS (Select UserId FROM UserMaster u WHERE u.Email=@Email and u.[Password]=@Password)
	Begin	
	 --IF EXISTS (Select UserCategoryId FROM UserCategoryMaster u WHERE u.UserCategoryId=@UserCategoryId)
	
		UPDATE UserMaster
            SET    [Password] = @NewPassword,
					UpdatedDate = GETDATE(),
					UpdatedBy = @UserId
            WHERE  Email = @Email
			and [Password] != @NewPassword 
	end
 END;
 