USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_CompanyMaster]    Script Date: 09-05-2023 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[sp_Delete_CompanyMaster]
@CompanyId int
as
Begin	
	Delete from CompanyDetails where CompanyId = @CompanyId 
	Delete from CompanyMaster where CompanyId = @CompanyId

end;
 

