USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_UserMaster]    Script Date: 20-04-2023 17:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER procedure [dbo].[sp_Delete_UserMaster]
@UserId int
as
begin
delete from UserMaster where UserId = @UserId
end;