USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_PartyMast]    Script Date: 04-07-2023 16:53:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[sp_Delete_PartyMast]
    @PartyCode varchar(16),
    @AcYear int,
    @CompanyId int
as
begin
    DELETE FROM [dbo].[PartyMast]
    WHERE PartyCode = @PartyCode
          and AcYear = @AcYear
          and CompanyId = @CompanyId
end

