USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_MenuMaster]    Script Date: 02-05-2023 15:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER procedure [dbo].[sp_Delete_MenuMaster]
@Id int
as
Begin
	Delete from  MenuMaster where Id = @Id
end;
 