USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_OrderDetails]    Script Date: 01-06-2023 09:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[sp_Delete_OrderDetails]1,2024,3,1
ALTER procedure [dbo].[sp_Delete_OrderDetails](
@CompanyId INT = 0,
	@AcYear INT = 0,
	@TrnNo int = 0,
	@SeqNo INT = 0)
as
begin
delete from OrderDetails where [CompanyId] = @CompanyId
			  and [AcYear] = @AcYear
			  and [TrnNo] = @TrnNo
			  and [SeqNo] = @SeqNo

--INSERT INTO OrderMaster(CompanyId, AcYear,TrnNo, TrnDate, TotalPcs, Rate, Amount)
--SELECT @CompanyId,@AcYear,@TrnNo, MAX(TrnDate) AS TrnDate, SUM(Pcs) AS TotalPcs, (SUM(Amount)/SUM(Pcs)) AS Rate, SUM(Amount) AS Amount
--FROM OrderDetails 
--where CompanyId = @CompanyId
--and AcYear = @AcYear
--and TrnNo = @TrnNo

 IF NOT EXISTS (
    SELECT 1
    FROM OrderDetails
    WHERE CompanyId = @CompanyId
      AND AcYear = @AcYear
      AND TrnNo = @TrnNo
  )
  BEGIN
    DELETE FROM OrderMaster
    WHERE CompanyId = @CompanyId
      AND AcYear = @AcYear
      AND TrnNo = @TrnNo;
  END
  ELSE
  BEGIN
    UPDATE OrderMaster
    SET
      TrnDate = (SELECT MAX(TrnDate) FROM OrderDetails WHERE CompanyId = @CompanyId AND AcYear = @AcYear AND TrnNo = @TrnNo),
      TotalPcs = (SELECT SUM(Pcs) FROM OrderDetails WHERE CompanyId = @CompanyId AND AcYear = @AcYear AND TrnNo = @TrnNo),
      Rate = (SELECT SUM(Amount) / SUM(Pcs) FROM OrderDetails WHERE CompanyId = @CompanyId AND AcYear = @AcYear AND TrnNo = @TrnNo),
      Amount = (SELECT SUM(Amount) FROM OrderDetails WHERE CompanyId = @CompanyId AND AcYear = @AcYear AND TrnNo = @TrnNo)
    WHERE
      CompanyId = @CompanyId
      AND AcYear = @AcYear
      AND TrnNo = @TrnNo;
  END
end;