USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_ItemsByCompanyId]    Script Date: 6/13/2024 3:26:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Get_ItemsByCompanyId]
    @CompanyId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ItemId]
		, 'false' As Enable
        ,[CompanyId]
        ,[ItemName]
        ,[ItemCode]
        ,[ItemRate]
        ,[MRP]
        ,[ItemDescription]        
        ,[ItemImage]        
    FROM ItemMaster
    WHERE [CompanyId] = @CompanyId;
END;
