USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_TestEmail]    Script Date: 18-07-2023 16:25:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER Procedure [dbo].[sp_GetEmail]
as
begin
Select Email ,Password,SMTPServer,Port From EmailSetting 
end

