USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_AllParty]    Script Date: 5/24/2024 5:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_Get_AllParty]
    @AcYear int,
    @CompanyId int
as
begin
    select pm.PartyCode,
           pm.AcYear,
           pm.CompanyId,
           pm.PartyName,
           pm.AGRCode,
		   pm.DueDays,
           pm.ReferenceName,
           pm.Add1,
           pm.Add2,
           pm.Add3,
		   pm.City,
		   pm.State,
		   pm.Mobile,
		   pm.Phone,
		   pm.Fax,
		   pm.Email,
		   pm.PanNo,
		   pm.GSTNo,
		   pm.Remark
    from PartyMast pm
    where pm.AcYear = @AcYear
          and pm.CompanyId = @CompanyId
end