USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_OrderDetailsFromTrnNo]    Script Date: 5/23/2024 10:14:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_Get_OrderDetailsFromTrnNo]
(
    @CompanyId int,
	@UserId int,
    @AcYear int,
    @TrnNo int
)
as
begin
DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
if(@UserCategoryId!=1) 
begin
 set @CompanyId  = (select CompanyId from UserMaster where UserId = @UserId);
end
    select o.CompanyId,
		   o.UserId,
           o.AcYear,
           o.TrnNo,
           o.SeqNo,
           o.ItemId,
           o.TrnDate,
           o.Pcs,
           o.Rate,
           o.Amount,
           o.IsOrderConfirmed,
           o.IsOrderDispatched,
           o.IsOrderReceived,
		   o.IsOrderReturned,
		   pm.DueDays,
           om.PartyCode,		   
		   om.PaymentDate,
           om.InvoiceNo
    from OrderDetails o
        left join OrderMaster om
            on om.CompanyId = o.CompanyId
          and om.AcYear = o.AcYear
          and om.TrnNo = o.TrnNo
		  left join PartyMast pm 
			on pm.PartyCode = om.PartyCode
    where 1 = case when @UserCategoryId =  1 then 1 
									when @UserCategoryId = 2 and o.CompanyId = @CompanyId then 1
									when @UserCategoryId not in (1,2) and o.UserId = @UserId then 1
									else 0 end 
			and o.CompanyId = @CompanyId
          and o.AcYear = @AcYear
          and o.TrnNo = @TrnNo
end;
