USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_CompanyMaster]    Script Date: 6/4/2024 3:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_Get_CompanyMaster] 
As 
Begin
select * from CompanyMaster c
inner join CompanyDetails cs on cs.CompanyId = c.CompanyId
inner join AccYear ay on ay.CompanyId = c.CompanyId
End