USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_getUserForLogin]    Script Date: 5/28/2024 11:01:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_getUserForLogin]
@Email varchar(56),
@Password varchar(1024)
as
begin
select CompanyId,UserId,Email,IsActive,UserCategoryId,CreatedDate,CreatedBy,UpdatedDate,UpdatedBy from UserMaster where LOWER(Email) = LOWER(@Email) and Password = @Password
end;
