USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_UserCategoryMaster]    Script Date: 01-05-2023 12:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   Procedure [dbo].[sp_Get_UserCategoryMaster]
as
begin
SET NOCOUNT ON;
select * from  UserCategoryMaster
end;