USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_TotalOrders]    Script Date: 02-08-2023 11:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Get_TotalOrders]
	@CompanyId INT,
    @UserId INT = 0,
    @UserCategoryId INT = 0,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL
AS
BEGIN
    IF @UserCategoryId = 3
    BEGIN
        -- Show record for a specific user
        SELECT 
            COUNT(*) AS TotalOrders, 
            SUM(CASE WHEN IsOrderConfirmed = 1 THEN 1 ELSE 0 END) AS ConfirmedOrders,
            SUM(CASE WHEN IsOrderDispatched = 1 THEN 1 ELSE 0 END) AS OrderDispatched,
            SUM(CASE WHEN IsOrderReceived = 1 THEN 1 ELSE 0 END) AS OrderReceived
        FROM OrderMaster
        WHERE (@FromDate IS NULL OR TrnDate >= @FromDate)
            AND (@ToDate IS NULL OR TrnDate <= @ToDate)
            AND CompanyId = @CompanyId
            AND UserId = @UserId
        GROUP BY YEAR(TrnDate)
    END
    ELSE
    BEGIN
		IF @UserCategoryId = 1
			begin
			  -- super admin data
				 SELECT 
						COUNT(*) AS TotalOrders, 
						SUM(CASE WHEN IsOrderConfirmed = 1 THEN 1 ELSE 0 END) AS ConfirmedOrders,
						SUM(CASE WHEN IsOrderDispatched = 1 THEN 1 ELSE 0 END) AS OrderDispatched,
						SUM(CASE WHEN IsOrderReceived = 1 THEN 1 ELSE 0 END) AS OrderReceived
					FROM OrderMaster
					WHERE (@FromDate IS NULL OR TrnDate >= @FromDate)
						AND (@ToDate IS NULL OR TrnDate <= @ToDate)
					GROUP BY YEAR(TrnDate)
			end
		else
			begin
			   --admin data
					SELECT 
						COUNT(*) AS TotalOrders, 
						SUM(CASE WHEN IsOrderConfirmed = 1 THEN 1 ELSE 0 END) AS ConfirmedOrders,
						SUM(CASE WHEN IsOrderDispatched = 1 THEN 1 ELSE 0 END) AS OrderDispatched,
						SUM(CASE WHEN IsOrderReceived = 1 THEN 1 ELSE 0 END) AS OrderReceived
					FROM OrderMaster
					WHERE (@FromDate IS NULL OR TrnDate >= @FromDate)
						AND (@ToDate IS NULL OR TrnDate <= @ToDate)
						AND CompanyId = @CompanyId
					GROUP BY YEAR(TrnDate)
			end
    END
END
--select * from OrderMaster
--exec sp_Get_TotalOrders null,null
--exec sp_Get_TotalOrders 1,1,1,null,null