USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_AGrpMast]    Script Date: 04-07-2023 17:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_Get_AGrpMast]
as
begin 
select am.AGRCode,
	   am.AGRName,
       am.Remark ,
	   am.CreatedDate,
	   am.CreatedBy,
	   am.UpdatedDate,
	   am.UpdatedBy 
		from AGrpMast am
end


