USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_TopUser]    Script Date: 5/22/2024 3:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_Get_TopUser]
@CompanyId int,
@UserId int,
@FromDate date = null,
@ToDate date = null
as
begin
	DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
	SELECT top 10 om.UserId,um.Email,COUNT(TrnNo) AS OrderNo
	FROM OrderMaster om
	inner join UserMaster um on um.UserId = om.UserId
	where 1 = case   when @UserCategoryId =  1 then 1 
			when @UserCategoryId = 2 and om.CompanyId = @CompanyId then 1 end 
			and (@FromDate is null or TrnDate >=@FromDate)
			and (@ToDate is null or TrnDate <=@ToDate)
	GROUP BY om.UserId,um.Email
	ORDER BY OrderNo DESC
End