USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_MenuMaster]    Script Date: 5/13/2024 4:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [sp_Get_MenuMaster] 
ALTER     procedure [dbo].[sp_Get_MenuMaster]
@Id int = 0
as
begin
SET NOCOUNT ON;
	select Id,Name,Icon,IsActive,Path,ParentId,OrderByMenu from  MenuMaster where Id = @Id or @Id = 0 order by OrderByMenu asc
end