USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_UserWiseItemMaster]    Script Date: 5/21/2024 6:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from ItemMaster;
-- select * from UserWiseItemMaster;
-- exec sp_Get_UserWiseItemMaster 2,3

ALTER PROCEDURE [dbo].[sp_Get_UserWiseItemMaster] (
    @CompanyId INT = 0,
    @UserId INT = 0
)
AS
BEGIN
    SELECT  distinct 
        i.CompanyId,
        i.ItemId,
        i.ItemName,
        i.ItemCode,
        i.ItemImage,
        ISNULL(u.Rate, i.ItemRate) AS ItemRate,
        i.ItemDescription,
		i.MRP,
        ISNULL(u.Enable, 0) AS Enable,
        i.AcYear
    FROM
        ItemMaster i
        LEFT JOIN UserWiseItemMaster u ON i.ItemId = u.ItemId
                                        AND (u.UserId = @UserId OR @UserId = 0)
    WHERE
        i.CompanyId = @CompanyId
END;

