USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_TransactionNo]    Script Date: 27-04-2023 13:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or ALTER   procedure [dbo].[sp_Get_TransactionNo](
@CompanyId int,
@AcYear INT)
as
begin
SELECT  Isnull(Max(TrnNo), 0) + 1 TrnNo
				FROM   [OrderDetails]
				WHERE  CompanyId = @CompanyId
				AND    AcYear = @AcYear
				
end;