USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_OrderDetailsByUsers_14072023_chiman]    Script Date: 5/22/2024 2:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_Get_OrderDetailsByUsers_14072023_chiman]
@UserId int = 0,
@CompanyId varchar(512) = null,
@ItemId varchar(512) = null,
@FromOrderDate date = null,
@ToOrderDate date = null,
@AcYear int = 0,
@InvoiceNo varchar(50) = 0,
@FromRate numeric(8,2) = 0,
@ToRate numeric(8,2) = 0,
@FromAmount numeric(8,2) = 0,
@ToAmount numeric(8,2) = 0,
@FromTrnNo int = 0,
@ToTrnNo int= 0,
@FromPcs numeric(8,2) = 0,
@ToPcs numeric(8,2) = 0,
@PartyCode varchar(512) = null
as
begin 
--DECLARE @CompanyId int = 0
DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
if(@UserCategoryId!=1) 
begin
 set @CompanyId  = (select CompanyId from UserMaster where UserId = @UserId);
end
select	od.SeqNo,
		od.CompanyId,
		od.TrnNo,
		od.AcYear,
		um.Email,
		im.ItemName,
		im.ItemCode,
		om.InvoiceNo,
		od.TrnDate,
		od.Pcs,
		od.Rate,
		od.Amount,
		od.IsOrderReceived,
		pm.PartyName
		from OrderDetails od
					inner join OrderMaster om on om.TrnNo = od.TrnNo
					inner join CompanyMaster cm on cm.CompanyId = od.CompanyId
					inner join PartyMast pm on pm.PartyCode = om.PartyCode and pm.CompanyId = od.CompanyId 
					inner join ItemMaster im on od.ItemId = im.ItemId
					inner join UserMaster um on um.UserId = od.UserId
		where 1 = case when @UserCategoryId =  1 then 1 
					when @UserCategoryId = 2 and od.CompanyId = @CompanyId then 1
					when @UserCategoryId not in (1,2) and od.UserId = @UserId then 1
					else 0 end
				and	((','+ @CompanyId +',' like '%,'+ convert( varchar(16),od.CompanyId ) + ',%') or @CompanyId is null)
				and	((','+ @ItemId +',' like '%,'+ convert( varchar(16),od.ItemId ) + ',%') or @ItemId is null)
				and (@FromOrderDate is null or od.TrnDate >=@FromOrderDate)
				and (@ToOrderDate is null or od.TrnDate <=@ToOrderDate)
				and (om.InvoiceNo = @InvoiceNo or om.InvoiceNo LIKE '%' + @InvoiceNo + '%' or @InvoiceNo is null)
				and (od.AcYear = @AcYear or @AcYear = 0)
				and (@FromRate = 0 or od.Rate >=@FromRate)
				and (@ToRate = 0 or od.Rate <=@ToRate)
				and (@FromAmount = 0 or od.Amount >=@FromAmount)
				and (@ToAmount = 0 or od.Amount <=@ToAmount)
				and (@FromTrnNo = 0 or od.TrnNo >=@FromTrnNo)
				and (@ToTrnNo = 0 or od.TrnNo <=@ToTrnNo)
				and (@FromPcs = 0 or od.Pcs >=@FromPcs)
				and (@ToPcs = 0 or od.Pcs <=@ToPcs)
				and	((','+ @PartyCode +',' like '%,'+ convert( varchar(16),om.PartyCode) + ',%') or @PartyCode is null)

		Order By om.TrnNo desc,om.TrnDate desc
end
