USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_OrderMasterDetails]    Script Date: 5/23/2024 10:06:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from UserMaster
ALTER   procedure [dbo].[sp_Get_OrderMasterDetails](
@UserId int = 0,
@CompanyId varchar(512) = null,
@FromOrderDate date = null,
@ToOrderDate date = null,
@InvoiceNo varchar(50) = null,
@AcYear int = 0,
@FromRate numeric(8,2) = 0,
@ToRate numeric(8,2) = 0,
@FromAmount numeric(8,2) = 0,
@ToAmount numeric(8,2) = 0,
@FromTrnNo int = 0,
@ToTrnNo int= 0,
@FromSeqNo int = 0,
@ToSeqNo int = 0,
@FromPcs numeric(8,2) = 0,
@ToPcs numeric(8,2) = 0,
@PartyCode varchar(512) = null
)
as
begin
DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
if(@UserCategoryId!=1) 
begin
 set @CompanyId  = (select CompanyId from UserMaster where UserId = @UserId);
end
	select om.CompanyId,
	om.UserId,
	cm.CompanyName,
	om.InvoiceNo,
	um.Email,
	om.AcYear,
	om.TrnNo,
	om.TrnDate,
	om.TotalPcs,
	om.Rate,
	om.Amount,
	om.PaymentAmount,
	om.RemaningAmount,
	om.AdjustAmount,
	om.IsOrderConfirmed,
	om.IsOrderDispatched,
	om.IsOrderReceived,
	om.IsOrderReturned,
	pm.PartyName,
	om.PaymentDate,
	om.CreatedDate,
	om.CreatedBy,
	om.UpdatedDate,
	om.UpdatedBy

		from OrderMaster om
			inner join CompanyMaster cm on cm.CompanyId = om.CompanyId
			inner join UserMaster um on um.UserId = om.UserId
			left join PartyMast pm on pm.PartyCode = om.PartyCode
	where 1 = case when @UserCategoryId =  1 then 1 
					when @UserCategoryId = 2 and cm.CompanyId = @CompanyId then 1
					when @UserCategoryId not in (1,2) and om.UserId = @UserId then 1
					else 0 end					
		and ((','+ @CompanyId +',' like '%,'+ convert( varchar(16),om.CompanyId ) + ',%') or @CompanyId is null)
		and (@FromOrderDate is null or om.TrnDate >=@FromOrderDate)
		and (@ToOrderDate is null or om.TrnDate <=@ToOrderDate)
		and (om.InvoiceNo = @InvoiceNo or om.InvoiceNo LIKE '%' + @InvoiceNo + '%' or @InvoiceNo is null)
		and (om.AcYear = @AcYear or @AcYear = 0)
		and (@FromRate = 0 or om.Rate >=@FromRate)
		and (@ToRate = 0 or om.Rate <=@ToRate)
		and (@FromAmount = 0 or om.Amount >=@FromAmount)
		and (@ToAmount = 0 or om.Amount <=@ToAmount)
		and (@FromTrnNo = 0 or om.TrnNo >=@FromTrnNo)
		and (@ToTrnNo = 0 or om.TrnNo <=@ToTrnNo)
		and (@FromPcs = 0 or om.TotalPcs >=@FromPcs)
		and (@ToPcs = 0 or om.TotalPcs <=@ToPcs)
		and ((','+ @PartyCode +',' like '%,'+ convert( varchar(16),om.PartyCode) + ',%') or @PartyCode is null)
	Order By om.TrnNo desc,om.TrnDate desc
end;