USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_UserMasterWithAccountYear]    Script Date: 5/28/2024 11:30:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  procedure [dbo].[sp_Get_UserMasterWithAccountYear]
@CompanyId int = null
as
begin
SET NOCOUNT ON;
select u.CompanyId,u.UserId,u.Email,u.FirstName,u.LastName,u.Password,u.IsActive,u.UserCategoryId,u.Email,Max(a.AcYear)as AcYear from  UserMaster u
inner join AccYear a on a.CompanyId = u.CompanyId
where u.CompanyId = @CompanyId or @CompanyId IS NULL
Group By u.CompanyId,u.UserId,u.Email,u.FirstName,u.LastName,u.IsActive,u.UserCategoryId,u.Email,u.Password
end;


