USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_MenuRole]    Script Date: 31-05-2023 09:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   Procedure [dbo].[sp_Get_MenuRole]
@UserId int = 0
--@UserCategoryId int = 0
as
begin
SELECT DISTINCT MenuRoleId, m.Id, MenuMasterId,m.IsActive,m.Path,m.Icon, Name  FROM MenuRoleDetail mr
	INNER JOIN MenuMaster m ON m.Id = mr.MenuMasterId
	INNER JOIN UserMaster u on u.UserCategoryId = mr.UserCategoryId
	WHERE u.UserId = @UserId
end;

--exec sp_Get_MenuRole 3