USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_UserWisePartyMaster]    Script Date: 06-07-2023 13:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Get_UserWisePartyMaster] (
    @CompanyId INT = 0,
    @UserId INT = 0
)
AS
BEGIN
    SELECT
        p.PartyCode,
		p.PartyName,
		ag.AGRName,
		p.Add1 + SPACE(1) + p.Add2 + SPACE(1) + p.Add3 As Address,
		p.Mobile,
		P.Phone,
		p.Email,
        ISNULL(u.Enable, 0) AS Enable
    FROM
        PartyMast p
        LEFT JOIN UserWisePartyMaster u ON p.PartyCode = u.PartyCode
                                        AND (u.UserId = @UserId OR @UserId = 0)
		left join AGrpMast ag on ag.AGRCode = p.AGRCode
    WHERE
        p.CompanyId = @CompanyId
END;

--exec [sp_Get_UserWisePartyMaster] 2,2
--select* from PartyMast