USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_UserMaster]    Script Date: 9/11/2024 11:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER    procedure [dbo].[sp_Get_UserMaster]
@CompanyId int,
@UserCategoryId int
as
begin
 IF @UserCategoryId = 1
    BEGIN
        SELECT
            cm.CompanyName,
            um.UserId,
            um.IsActive,
            uc.UserCategoryName,
			um.Email,
			um.FirstName,
			um.LastName,
            um.CreatedDate,
            um.CreatedBy,
            um.UpdatedDate,
            um.UpdatedBy
        FROM
            UserMaster um
        INNER JOIN UserCategoryMaster uc ON um.UserCategoryId = uc.UserCategoryId
        INNER JOIN CompanyMaster cm ON cm.CompanyId = um.CompanyId
    END
    ELSE
    BEGIN
        SELECT
            cm.CompanyName,
            um.UserId,
            um.IsActive,
            uc.UserCategoryName,
			um.Email,
			um.FirstName,
			um.LastName,
            um.CreatedDate,
            um.CreatedBy,
            um.UpdatedDate,
            um.UpdatedBy
        FROM
            UserMaster um
        INNER JOIN UserCategoryMaster uc ON um.UserCategoryId = uc.UserCategoryId
        INNER JOIN CompanyMaster cm ON cm.CompanyId = um.CompanyId
        WHERE
            cm.CompanyId = @CompanyId
			AND um.UserCategoryId != 1
			
    END
end;