USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_ItemMaster]    Script Date: 5/10/2024 11:09:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[sp_Get_ItemMaster](
@CompanyId int,
@UserId int )
as
begin
SET NOCOUNT ON;
DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
IF @UserCategoryId = 1
    BEGIN
        SELECT * FROM ItemMaster;
    END
    ELSE
    BEGIN
        SELECT * FROM ItemMaster WHERE CompanyId = @CompanyId;
    END
end;
