USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_ItemForOrder]    Script Date: 5/22/2024 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from ItemMaster;
-- select * from UserWiseItemMaster;
--select *from UserMaster
 --exec sp_Get_ItemForOrder 1,1

ALTER PROCEDURE [dbo].[sp_Get_ItemForOrder] (
    @CompanyId INT = 0,
    @UserId INT = 0
)
AS
BEGIN
declare @UserCategoryid int
select @UserCategoryid= c.UserCategoryId from UserMaster u
inner join UserCategoryMaster c on c.UserCategoryId = u.UserCategoryId 
where u.UserId = @UserId

    SELECT
        i.CompanyId,
        i.ItemId,
        i.ItemName,
        i.ItemCode,
        i.ItemImage,
        ISNULL(u.Rate, i.ItemRate) AS ItemRate,
        i.ItemDescription,
		i.Mrp,
        ISNULL(u.Enable, 0) AS Enable,
        i.AcYear
    FROM
        ItemMaster i
        LEFT JOIN UserWiseItemMaster u ON i.ItemId = u.ItemId
                                        AND (u.UserId = @UserId OR @UserId = 0)
										
    WHERE
        i.CompanyId = @CompanyId
	   and 1 = case when @UserCategoryId =  1 then 1 
			when @UserCategoryid  in (1,2) then 1
	        else case when @UserCategoryid not in (1,2) and u.Enable = 1 then  1 else 0 end end

END;

