USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopItems]    Script Date: 27-06-2023 16:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetTopItems]
@CompanyId int,
@UserId int,
@FromDate date = null,
@ToDate date = null 
as
begin
	DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
	SELECT top 10 im.ItemId, COUNT(im.ItemId) AS OrderNo,im.ItemName
	FROM OrderDetails od 
	inner join ItemMaster im on im.ItemId = od.ItemId
	where 1 = case   when @UserCategoryId =  1 then 1 
			when @UserCategoryId = 2 and od.CompanyId = @CompanyId then 1
			when @UserCategoryId not in (1,2) and od.UserId = @UserId then 1
			else 0 end
			and od.CompanyId = @CompanyId 
			and (@FromDate is null or TrnDate >=@FromDate)
			and (@ToDate is null or TrnDate <=@ToDate)
	GROUP BY im.ItemId,im.ItemName
	ORDER BY OrderNo DESC
End
--exec sp_GetTopItems 2,null,null
--select * from OrderDetails
--select * from ItemMaster