USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_PaymentDetails]    Script Date: 03-07-2023 18:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER Procedure [dbo].[sp_Get_PaymentDetails]
    @CompanyId int,
    @AcYear int,
    @TrnNo int
as
begin
    select op.CompanyId,
           op.AcYear,
           op.TrnNo,
           op.SeqNo,
           op.UserId,
           op.PaymentDate,
           op.PaymentAmount,
           op.AdjustAmount,
           op.Remark
    from OrderPayment op
    where CompanyId = @CompanyId
          and AcYear = @AcYear
          and TrnNo = @TrnNo
end

--exec sp_Get_PaymentDetails 2,2,2024,4






