USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_AccountYear]    Script Date: 01-06-2023 09:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_Get_AccountYear]
@CompanyId int
as
begin 
select AcYear from [AccYear] a where a.CompanyId = @CompanyId
end