USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_GlobalSearch]    Script Date: 5/22/2024 2:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     Procedure [dbo].[sp_Get_GlobalSearch]
@GlobalSearch varchar(256),
@UserId int = 0,
@CompanyId varchar(512) = null,
@AcYear int = 0
as
begin 
--DECLARE @CompanyId int = 0
DECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
if(@UserCategoryId!=1) 
begin
 set @CompanyId  = (select CompanyId from UserMaster where UserId = @UserId);
end
select * from (
				select	od.SeqNo,
		od.TrnNo,
		od.AcYear,
		um.Email,
		im.ItemName,
		im.ItemCode,		
		om.InvoiceNo,
		od.TrnDate,
		od.Pcs,				
		od.Rate,
		od.Amount,
		om.IsOrderReceived,
		pm.PartyName,
		cm.CompanyId
		from OrderDetails od
					inner join ItemMaster im on od.ItemId = im.ItemId
					inner join CompanyMaster cm on cm.CompanyId = od.CompanyId
					inner join UserMaster um on um.UserId = od.UserId
					inner join OrderMaster om on om.CompanyId = od.CompanyId and om.AcYear = od.AcYear and  om.TrnNo = od.TrnNo
					inner join PartyMast pm on pm.PartyCode = om.PartyCode and pm.AcYear = od.AcYear and pm.CompanyId = od.CompanyId
		where 1 = case when @UserCategoryId =  1 then 1 
					when @UserCategoryId = 2 and od.CompanyId = @CompanyId then 1
					when @UserCategoryId not in (1,2) and od.UserId = @UserId then 1
					else 0 end
			    and( (pm.PartyName like '%'+@globalSearch+'%')
					or (om.InvoiceNo like '%'+@globalSearch+'%')
					or (om.TrnNo like '%'+@globalSearch+'%')
					or (om.TrnDate like '%'+@globalSearch+'%')
					or (im.ItemName like '%'+@globalSearch+'%')
					or (im.ItemCode like '%'+@globalSearch+'%')
					or (od.Pcs like '%'+@globalSearch+'%')
					or (od.Rate like '%'+@globalSearch+'%')
					or (od.Amount like '%'+@globalSearch+'%')
					or (um.Email like '%'+@globalSearch+'%')	)
					union all 
							select	 max(od.SeqNo) + 1 SeqNo,
									od.TrnNo,
									od.AcYear,
									'' Email,
									'' ItemName,
									'' ItemCode,
									'' InvoiceNo,
									max(od.TrnDate) TrnDate,
									sum(od.Pcs) Pcs,
									sum(od.Amount) / sum(od.Pcs) Rate,
									sum(od.Amount)Amount,
									 null IsOrderReceived,
									'Order Summary' PartyName,
									od.CompanyId 
							from OrderDetails od
									inner join ItemMaster im on od.ItemId = im.ItemId
									inner join CompanyMaster cm on cm.CompanyId = od.CompanyId
									inner join UserMaster um on um.UserId = od.UserId
									inner join OrderMaster om on om.TrnNo = od.TrnNo
									left join PartyMast pm on pm.PartyCode = om.PartyCode
								where 1 = case when @UserCategoryId =  1 then 1 
					when @UserCategoryId = 2 and od.CompanyId = @CompanyId then 1
					when @UserCategoryId not in (1,2) and od.UserId = @UserId then 1
					else 0 end
			        and ( (pm.PartyName like '%'+@globalSearch+'%')
					or (om.InvoiceNo like '%'+@globalSearch+'%')
					or (om.TrnNo like '%'+@globalSearch+'%')
					or (im.ItemName like '%'+@globalSearch+'%')
					or (od.Pcs like '%'+@globalSearch+'%')
					or (od.Rate like '%'+@globalSearch+'%')
					or (od.Amount like '%'+@globalSearch+'%')
					or (um.Email like '%'+@globalSearch+'%')	   )
							group by od.TrnNo,od.AcYear,od.CompanyId 
			) a Order By CompanyId,AcYear,TrnNo,SeqNo
end

--exec sp_Get_test '',4,2,2024