USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_DailyOrderSummary]    Script Date: 5/22/2024 2:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Get_DailyOrderSummary]    @CompanyId int,	@UserId int,	@FromDate DATE = null,	@ToDate DATE = nullASBEGINDECLARE @UserCategoryId int = (SELECT UserCategoryId FROM UserMaster WHERE UserId = @UserId);
if(@UserCategoryId!=1) 
begin
 set @CompanyId  = (select CompanyId from UserMaster where UserId = @UserId);
end    SELECT um.Email,           COUNT(CASE WHEN om.IsOrderConfirmed = 1 THEN 1 END) AS OrderConfirmed,           COUNT(CASE WHEN om.IsOrderDispatched = 1 THEN 1 END) AS OrderDispatched,           COUNT(CASE WHEN om.IsOrderReceived = 1 THEN 1 END) AS OrderReceived,		   COUNT(CASE WHEN om.IsOrderReturned = 1 THEN 1 END) AS OrderReturned,           COUNT(om.TrnNo) AS TotalOrder,		   COUNT(om.TrnNo) - Count(CASE WHEN om.IsOrderConfirmed = 1 THEN 1 END) As PendingOrder    FROM OrderMaster om    INNER JOIN UserMaster um ON um.UserId = om.UserId    WHERE 1 = case when @UserCategoryId =  1 then 1 
			when @UserCategoryId = 2 and um.CompanyId = @CompanyId then 1
			when @UserCategoryId not in (1,2) and um.UserId = @UserId then 1
			else 0 end
			AND (@FromDate IS NULL OR TrnDate >= @FromDate)
            AND (@ToDate IS NULL OR TrnDate <= @ToDate)			    GROUP BY um.EmailEND--exec sp_Get_DailyOrderSummary 2,6,null,null