USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_OrderDetails]    Script Date: 5/22/2024 2:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_Get_OrderDetails](
@CompanyId varchar(512) = null,
@ItemId varchar(512) = null,
@FromOrderDate date = null,
@ToOrderDate date = null,
@AcYear int = 0,
@FromRate numeric(8,2) = 0,
@ToRate numeric(8,2) = 0,
@FromAmount numeric(8,2) = 0,
@ToAmount numeric(8,2) = 0,
@FromTrnNo int = 0,
@ToTrnNo int= 0,
@FromSeqNo int = 0,
@ToSeqNo int = 0,
@FromPcs numeric(8,2) = 0,
@ToPcs numeric(8,2) = 0
)
as
begin
	select o.CompanyId,cm.CompanyName,um.Email,o.AcYear,o.TrnDate,o.TrnNo,o.SeqNo,o.ItemId,i.ItemCode,i.ItemName,i.ItemDescription,o.Rate,o.Amount,o.Pcs,o.IsOrderConfirmed,o.IsOrderDispatched,o.CreatedDate,o.CreatedBy,o.UpdatedDate,o.UpdatedBy
		from OrderDetails o
			inner join CompanyMaster cm on cm.CompanyId = o.CompanyId
			inner join ItemMaster i on i.ItemId = o.ItemId
			inner join UserMaster um on o.UserId = um.UserId
	where((','+ @CompanyId +',' like '%,'+ convert( varchar(16),o.CompanyId ) + ',%') or @CompanyId is null)
		and	((','+ @ItemId +',' like '%,'+ convert( varchar(16),o.ItemId ) + ',%') or @ItemId is null)
		and (@FromOrderDate is null or o.TrnDate >=@FromOrderDate)
		and (@ToOrderDate is null or o.TrnDate <=@ToOrderDate)
		and (o.AcYear = @AcYear or @AcYear = 0)
		and (@FromRate = 0 or o.Rate >=@FromRate)
		and (@ToRate = 0 or o.Rate <=@ToRate)
		and (@FromAmount = 0 or o.Amount >=@FromAmount)
		and (@ToAmount = 0 or o.Amount <=@ToAmount)
		and (@FromTrnNo = 0 or o.TrnNo >=@FromTrnNo)
		and (@ToTrnNo = 0 or o.TrnNo <=@ToTrnNo)
		and (@FromSeqNo = 0 or o.SeqNo >=@FromSeqNo)
		and (@ToSeqNo = 0 or o.SeqNo <=@ToSeqNo)
		and (@FromPcs = 0 or o.Pcs >=@FromPcs)
		and (@ToPcs = 0 or o.Pcs <=@ToPcs)

end;

 --exec sp_Get_OrderDetails 2,5,null,null,0,0,0,0,0;
 --select * from OrderDetails