USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_InsertOrder]    Script Date: 5/24/2024 11:39:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Get_InsertOrder]
    @jsonData VARCHAR(MAX)
AS
BEGIN
    DECLARE @TrnNo INT;
    DECLARE @CompanyId INT, @AcYear INT, @SeqNo INT,@UserId Int, @InvoiceNo varchar(50),@PartyCode varchar(16) ,@PaymentDate date;
	
    SELECT @CompanyId = JSON_VALUE(@jsonData, '$[0].CompanyId'),
           @AcYear = JSON_VALUE(@jsonData, '$[0].AcYear'),
           @UserId = JSON_VALUE(@jsonData, '$[0].UserId'),
		   @InvoiceNo = JSON_VALUE(@jsonData, '$[0].InvoiceNo'),
		   @PartyCode = JSON_VALUE(@jsonData, '$[0].PartyCode'),
		   @PaymentDate= JSON_VALUE(@jsonData, '$[0].PaymentDate');
			   	
    SELECT @PaymentDate = DATEADD(DAY, ISNULL(pm.DueDays, 0), GETDATE())
    FROM PartyMast pm
    WHERE pm.PartyCode = @PartyCode;

	SELECT @TrnNo = CASE WHEN ISNULL(MAX(TrnNo), 0) = 0 THEN dbo.Fun_GetTransactionNo(@CompanyId, @AcYear) ELSE MAX(TrnNo) END
    FROM OPENJSON(@jsonData)
    WITH (
        TrnNo INT '$.TrnNo'
    );
  select @SeqNo =isnull(max(SeqNo),0)   from OrderDetails where CompanyId = @CompanyId and AcYear = @AcYear and TrnNo = @TrnNo
  
    MERGE INTO [dbo].[OrderDetails] AS target
    USING (
        SELECT
            CompanyId,
            AcYear,
            @TrnNo AS TrnNo,
            case when SeqNo = 0 then ROW_NUMBER() over (order by SeqNo) + @SeqNo else SeqNo End SeqNo,
            ItemId,
            TrnDate,
            Pcs,
            Rate,
            Amount,
            UserId
			
			
        FROM
            OPENJSON(@jsonData)
            WITH (
                CompanyId INT '$.CompanyId',
                AcYear INT '$.AcYear',
                SeqNo INT '$.SeqNo',
                ItemId INT '$.ItemId',
                TrnDate DATE '$.TrnDate',
                Pcs NUMERIC(10, 2) '$.Pcs',
                Rate NUMERIC(8, 2) '$.Rate',
                Amount NUMERIC(10, 2) '$.Amount',
                UserId VARCHAR(16) '$.UserId'
            )
    ) AS source
    ON (
        target.CompanyId = source.CompanyId
        AND target.AcYear = source.AcYear
        AND target.TrnNo = source.TrnNo
        AND target.SeqNo = source.SeqNo
    )
    WHEN MATCHED THEN
        UPDATE SET
            target.ItemId = source.ItemId,
            target.TrnDate = source.TrnDate,
            target.Pcs = source.Pcs,
            target.Rate = source.Rate,
            target.Amount = source.Amount,
			target.UserId = source.UserId,
            target.UpdatedBy = source.UserId,
			target.UpdatedDate = GetDate()
    WHEN NOT MATCHED THEN
        INSERT (
            CompanyId,
            AcYear,
            TrnNo,
            SeqNo,
            ItemId,
            TrnDate,
            Pcs,
            Rate,
            Amount,
			UserId,
            CreatedDate,
            CreatedBy
        )
        VALUES (
            source.CompanyId,
            source.AcYear,
            source.TrnNo,
            source.SeqNo,
            source.ItemId,
            source.TrnDate,
            source.Pcs,
            source.Rate,
            source.Amount,
			source.UserId,			
            GETDATE(),
            source.UserId
        );

		MERGE INTO OrderMaster AS Target
		USING (
		SELECT CompanyId, Acyear, TrnNo, Max(TrnDate)as TrnDate,SUM(Pcs) AS TotalPcs, (SUM(Amount)/SUM(Pcs)) AS Rate, SUM(Amount) AS Amount,UserId
			FROM OrderDetails
			where CompanyId = @CompanyId and AcYear = @Acyear and TrnNo = @TrnNo
			GROUP BY CompanyId, Acyear, TrnNo,UserId
		) AS Source
		ON (Target.CompanyId = Source.CompanyId AND Target.Acyear = Source.Acyear AND Target.TrnNo = Source.TrnNo)
		WHEN MATCHED THEN
			UPDATE SET
				Target.TrnDate = Source.TrnDate,
				Target.TotalPcs = Source.TotalPcs,
				Target.Rate = Source.Rate,
				Target.Amount = Source.Amount,
				Target.UserId = Source.UserId,
				Target.InvoiceNo = case when @InvoiceNo= '' then Concat(source.AcYear,'-',source.TrnNo) else @InvoiceNo end,
				Target.PartyCode = @PartyCode ,				
				Target.PaymentDate = @PaymentDate,
				Target.[UpdatedBy] = @UserId,
				Target.[UpdatedDate]= GetDate()
				
		WHEN NOT MATCHED THEN
		INSERT (CompanyId, Acyear, TrnNo,TrnDate,TotalPcs, Rate, Amount,UserId,
		InvoiceNo,PartyCode,PaymentDate,
		CreatedBy,CreatedDate)
		VALUES (Source.CompanyId, Source.Acyear,Source.TrnNo,Source.TrnDate, Source.TotalPcs, Source.Rate, Source.Amount,Source.UserId,
		case when @InvoiceNo= '' then Concat( source.AcYear,'-',source.TrnNo) else  @InvoiceNo end,@PartyCode,@PaymentDate,@UserId,getDate());
		UPDATE OrdMast
		SET    ordMast.PaymentAmount = isnull(ordPay.PaymentAmount,0),
			   ordMast.AdjustAmount = isnull(ordPay.AdjustAmount,0),
			   ordMast.RemaningAmount = isnull(ordMast.Amount, 0) - (isnull(ordPay.AdjustAmount, 0)+ isnull(ordPay.PaymentAmount, 0) )
		FROM   OrderMaster ordMast
			   left JOIN(
							SELECT p.CompanyId,p.AcYear,p.TrnNo,Sum(PaymentAmount)PaymentAmount,Sum(AdjustAmount) AdjustAmount
								FROM   OrderPayment p
								WHERE  p.CompanyId = @CompanyId
								   AND p.AcYear = @AcYear
								   AND p.TrnNo = @TrnNo
							  GROUP  BY p.CompanyId,p.AcYear,p.TrnNo
						  ) ordPay ON ordMast.CompanyId = ordPay.CompanyId
								  AND ordMast.AcYear = ordPay.AcYear
								  AND ordMast.TrnNo = ordPay.TrnNo
		WHERE  ordMast.CompanyId = @CompanyId
			   AND ordMast.AcYear = @AcYear
			   AND ordMast.TrnNo = @TrnNo 

		select om.TrnNo,om.InvoiceNo,om.TrnDate,om.PaymentDate from OrderMaster om 
		where CompanyId = @CompanyId and TrnNo = @TrnNo and AcYear = @AcYear
END;

