USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_PartyMast]    Script Date: 5/23/2024 10:02:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Procedure [dbo].[sp_InsertUpdate_PartyMast]
(	@PartyCode varchar(16),
	@AcYear int,
	@CompanyId int,
	@PartyName varchar(256),
	@AGRCode int,
	@DueDays int,
	@ReferenceName varchar(64),
	@Add1 varchar(128),
	@Add2 varchar(128),
	@Add3 varchar(128),
	@City varchar(32),
	@State varchar(32),
	@Mobile varchar(16),
	@Phone varchar(16),
	@Fax varchar(16),
	@Email varchar(64),
	@PanNo varchar(64),
	@GSTNo varchar(16),
	@Remark varchar(256),
	@UserId int 
	)
AS
  BEGIN
	IF NOT EXISTS (Select PartyCode FROM PartyMast pm WHERE pm.PartyCode=@PartyCode and pm.AcYear = @AcYear and pm.CompanyId = @CompanyId)
		BEGIN
	INSERT INTO [dbo].[PartyMast]
           ([PartyCode]
           ,[AcYear]
           ,[CompanyId]
           ,[PartyName]
           ,[AGRCode]
		   ,[DueDays]
           ,[ReferenceName]
           ,[Add1]
           ,[Add2]
           ,[Add3]
           ,[City]
           ,[State]
           ,[Mobile]
           ,[Phone]
           ,[Fax]
           ,[Email]
           ,[PanNo]
           ,[GSTNo]
           ,[Remark]
           ,[CreatedDate]
		   ,[CreatedBy]
		   )
	values
		(	
			@PartyCode,
			@AcYear,
			@CompanyId,
			@PartyName,
			@AGRCode,
			@DueDays,
			@ReferenceName,
			@Add1,
			@Add2,
			@Add3,
			@City,
			@State,
			@Mobile,
			@Phone,
			@Fax,
			@Email,
			@PanNo,
			@GSTNo,
			@Remark,
			GETDATE(),
			@UserId
		)
end;
	else IF EXISTS (Select PartyCode FROM PartyMast pm WHERE pm.PartyCode=@PartyCode and pm.AcYear = @AcYear and pm.CompanyId = @CompanyId)
	begin
	UPDATE PartyMast
            SET	
				   PartyCode = @PartyCode,
				   AcYear= @AcYear,
                   CompanyId = @CompanyId,
				   PartyName = @PartyName,
				   AGRCode = @AGRCode,
				   DueDays = @DueDays,
				   ReferenceName = @ReferenceName,
				   Add1 = @Add1,
				   Add2 = @Add2,
				   Add3 = @Add3,
				   City = @City,
				   State = @State,
				   Mobile = @Mobile,
				   Phone = @Phone,
				   Fax = @Fax,
				   Email = @Email,
				   PanNo = @PanNo,
				   GSTNo = @GSTNo,
				   Remark = @Remark,
				   UpdatedDate = GETDATE (),
				   UpdatedBy = @UserId
            where PartyCode = @PartyCode
			and AcYear = @AcYear
			and CompanyId = @CompanyId
	end
 END;	