USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_UserCategoryMaster]    Script Date: 13-06-2023 11:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_InsertUpdate_UserCategoryMaster] (
			@UserCategoryId int,
			@UserCategoryName varchar(32)
	 )
AS
  BEGIN
	IF NOT EXISTS (Select @UserCategoryId FROM UserCategoryMaster u WHERE u.UserCategoryId=@UserCategoryId)
		BEGIN
            INSERT INTO [dbo].[UserCategoryMaster]
           ([UserCategoryId]
           ,[UserCategoryName])
     VALUES
           (@UserCategoryId,
		   @UserCategoryName
		   )
		  end;
	else IF EXISTS (Select UserCategoryId FROM UserCategoryMaster u WHERE u.UserCategoryId=@UserCategoryId)
	begin
		UPDATE UserCategoryMaster
            SET    --UserCategoryId = @UserCategoryId,
                   UserCategoryName = @UserCategoryName
            WHERE  UserCategoryId = @UserCategoryId
	end
 END;