USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_UserWisePartyMaster]    Script Date: 06-07-2023 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[sp_InsertUpdate_UserWisePartyMaster]
@CompanyId int,
@UserId int,
@PartyCode varchar(16),
@Enable bit
as
begin
IF NOT EXISTS (Select UserId FROM [UserWisePartyMaster] c WHERE c.[CompanyId]=@CompanyId and c.UserId = @UserId and c.PartyCode = @PartyCode)
		begin
		INSERT INTO [dbo].[UserWisePartyMaster]
		           ([PartyCode]
				   ,[CompanyId]
		           ,[UserId]
		           ,[Enable]
		           ,[CreatedDate]
		           ,[CreatedBy])
		 values  
		 (
		 @PartyCode,
		 @CompanyId,
		 @UserId,
		 @Enable,
		 GETDATE(),
		 @UserId)
		 end;
 else IF EXISTS (Select UserId FROM [UserWisePartyMaster] c WHERE c.[CompanyId]=@CompanyId and c.UserId = @UserId and c.PartyCode = @PartyCode )
		begin
				UPDATE [UserWisePartyMaster]
		            SET    
						   Enable = @Enable,
						   UpdatedDate = GETDATE(),
						   UpdatedBy = @UserId
		            WHERE  UserId = @UserId
					and PartyCode = @PartyCode
					and CompanyId = @CompanyId
		end
 end;