USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_CompanyMaster]    Script Date: 6/6/2024 11:21:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 -- sp_InsertUpdate_CompanyMaster 0,0,'clues',1,'Utran','Rishit','Akbari',2314657890,7894652317,2
 

 ALTER   PROCEDURE [dbo].[sp_InsertUpdate_CompanyMaster] (
							@CompanyId int,
							@CompanyDetailsId int,
							@CompanyName varchar(128),
                            @IsActive bit,
							@IsPayment bit,
							@IsInvoice bit,
							@CompanyAddress varchar(512),
							@ContactPersonFirstName varchar(32),
							@ContactPersonLastName varchar(32),
							@ContactNoOffice varchar(16),
							@ContactNoPersonal varchar(16),
							@UserId int,
							@AcYear int,
							@FTrnDate datetime,
							@TTrnDate datetime,
							@Remark varchar(500)
                             )
AS
  BEGIN
	IF NOT EXISTS (Select CompanyId FROM CompanyMaster c WHERE c.[CompanyId]=@CompanyId)
		BEGIN
		print 1
            INSERT INTO [dbo].[CompanyMaster]
			   (
			   [CompanyName]
			   ,[IsActive]
			   ,[IsPayment]
			   ,[IsInvoice]
			   ,[CreatedDate]
			   ,[CreatedBy])
			 VALUES
			   (
			    @CompanyName,
			    @IsActive,
				@IsPayment,
				@IsInvoice,
				GETDATE(),
			    @UserId)
				Set @CompanyId = @@IDENTITY

				print @CompanyId
				--SELECT SCOPE_IDENTITY()
				--SET @CompanyId = SCOPE_IDENTITY();
		    INSERT INTO [dbo].[CompanyDetails]
				([CompanyId]
				,[CompanyAddress]
				,[ContactPersonFirstName]
				,[ContactPersonLastName]
				,[ContactNoOffice]
				,[ContactNoPersonal]
				,[CreatedDate]
				,[CreatedBy])
			VALUES
				(@CompanyId,
				@CompanyAddress,
				@ContactPersonFirstName,
				@ContactPersonLastName,
				@ContactNoOffice,
				@ContactNoPersonal,
				GETDATE(),
				@UserId
				)
				INSERT INTO [dbo].[AccYear] (
            [CompanyId],
            [AcYear],
            [FTrnDate],
            [TTrnDate],
            [Remark]
        )
        VALUES (
            @CompanyId,
            @AcYear,
            @FTrnDate,
            @TTrnDate,
            @Remark
        )
		  end;
	else IF EXISTS (Select CompanyId FROM CompanyMaster c WHERE c.[CompanyId]=@CompanyId)
	begin
	print 2
		UPDATE CompanyMaster
            SET    
                   CompanyName = @CompanyName,
                   IsActive = @IsActive,
				   IsPayment = @IsPayment,
				   IsInvoice = @IsInvoice,
				   UpdatedDate = GETDATE(),
				   UpdatedBy = @UserId
            WHERE  CompanyId = @CompanyId
		UPDATE CompanyDetails
            SET    
                   CompanyAddress  =  @CompanyAddress,
				   ContactPersonFirstName = @ContactPersonFirstName,
				   ContactPersonLastName = @ContactPersonLastName,
				   ContactNoOffice = @ContactNoOffice,
				   ContactNoPersonal = @ContactNoPersonal,
				   UpdatedDate = GETDATE(),
				   UpdatedBy = @UserId
            WHERE  CompanyId = @CompanyId
		UPDATE AccYear
			SET
				AcYear = @AcYear,
				FTrnDate = @FTrnDate,
				TTrnDate = @TTrnDate
			WHERE CompanyId = @CompanyId
	end
 END;
