USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_OrderDetail]    Script Date: 04-05-2023 10:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertUpdate_OrderDetail] 
( 
	@CompanyId INT,
	@AcYear INT,
	@TrnNo int,
	@SeqNo INT,
	@ItemId VARCHAR(16),
	@TrnDate date,
	@Pcs Numeric(10,2),
	@Rate NUMERIC(8,2),
	@Amount numeric(10,2),
	@UserId int)
AS
  BEGIN
	  IF NOT EXISTS (SELECT 'Y' FROM   [OrderDetails] u WHERE  u.CompanyId = @CompanyId AND u.AcYear = @AcYear AND u.TrnNo = @TrnNo AND u.SeqNo= @SeqNo)
		BEGIN
			IF(ISNULL(@SeqNo,0) = 0)
			BEGIN
				SELECT @SeqNo = COALESCE(Max(SeqNo), 0) + 1
				FROM   [OrderDetails]
				WHERE  CompanyId = @CompanyId
				AND    AcYear = @AcYear
				AND    TrnNo = @TrnNo
			END

			INSERT INTO [dbo].[OrderDetails] 
			( 
				[CompanyId] ,[AcYear] ,[TrnNo] ,[SeqNo] ,[ItemId],[TrnDate],[Pcs],[Rate] ,[Amount] ,[CreatedDate] ,[CreatedBy]
			)
			VALUES 
			(
				@CompanyId,@AcYear,@TrnNo,@SeqNo,@ItemId,@TrnDate,@Pcs,@Rate,@Amount,Getdate(),@UserId
			)
		END;
		else 
		begin
				UPDATE [dbo].[OrderDetails]
		   SET [ItemId] = @ItemId
			  ,[TrnDate] = @TrnDate
			  ,[Pcs] = @Pcs
			  ,[Rate] = @Rate
			  ,[Amount] = @Amount
			  ,[UpdatedDate] = GETDATE()
			  ,[UpdatedBy] = @UserId
		 WHERE [CompanyId] = @CompanyId
			  and [AcYear] = @AcYear
			  and [TrnNo] = @TrnNo
			  and [SeqNo] = @SeqNo
		end

	END;
  --delete from OrderDetails where TrnNo  = 12024
  --select * from OrderDetails where TrnNo  = 10
  --exec sp_InsertUpdate_OrderDetail 1,2023,17,0,'2',225,121,1