USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_ItemMaster]    Script Date: 5/10/2024 11:07:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_InsertUpdate_ItemMaster] (
			@ItemId int = 0,
			@CompanyId int,
			@ItemName varchar(128),
			@ItemCode varchar(16),
		   @ItemRate numeric(8,2),
		   @MRP numeric(8,2),
           @ItemDescription varchar(256),
           @IsActive bit,
		   @AcYear int,
		   @ItemImage varchar(256),
		   @UserId int
		   
           
       
                             )
AS
  BEGIN
	IF NOT EXISTS (Select ItemId FROM ItemMaster u WHERE u.ItemId=@ItemId)
		BEGIN
           INSERT INTO [dbo].[ItemMaster]
           (
		    [CompanyId]
           ,[ItemName]
           ,[ItemCode]
           ,[ItemRate]
		   ,[MRP]
           ,[ItemDescription]
           ,[IsActive]
           ,[AcYear]
		   ,[ItemImage]
		   ,[CreatedDate]
           ,[CreatedBy]
           )
     VALUES
           (
		   @CompanyId,
		   @ItemName,
		   @ItemCode,
		   @ItemRate,
		   @MRP,
		   @ItemDescription,
		   @IsActive,
		   @AcYear,
		   @ItemImage,
		   GETDATE(),
		   @UserId
		   )
		  end;
	else IF EXISTS (Select ItemId FROM ItemMaster u WHERE u.ItemId=@ItemId)
	begin
		UPDATE ItemMaster
            SET    CompanyId = @CompanyId,
				   ItemName = @ItemName,
				   ItemCode = @ItemCode,
                   ItemRate = @ItemRate,
				   MRP = @MRP,
                   ItemDescription = @ItemDescription,
                   IsActive = @IsActive,
				   AcYear = @AcYear,
				   ItemImage = @ItemImage,
				   UpdatedDate = GETDATE(),
				   UpdatedBy = @UserId 
            WHERE  ItemId = @ItemId
	end
 END;