USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdate_UserMaster]    Script Date: 5/22/2024 4:37:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertUpdate_UserMaster] (
							 @CompanyId int,
							 @UserId int = 0,
							 @FirstName varchar(100),
							 @LastName varchar(100),
                             @Password varchar(64) = null,
                             @IsActive bit,
                             @UserCategoryId int,
							 @Email varchar(50),
							 @LoginUser int
                             )
AS
  BEGIN
	IF NOT EXISTS (Select UserId FROM UserMaster u WHERE u.[UserId]=@UserId)
		BEGIN
            INSERT INTO [dbo].[UserMaster]
           ([CompanyId]
		   ,[FirstName]
		   ,[LastName]
           ,[Password]
           ,[IsActive]
           ,[UserCategoryId]
		   ,[Email]
           ,[CreatedDate]
           ,[CreatedBy]
           )
     VALUES
           (@CompanyId,
		   @FirstName,
		   @LastName,
		   @Password,
		   @IsActive,
		   @UserCategoryId,
		   LOWER(@Email),
		    GETDATE(),
		   @LoginUser
		   )
		  end;
	else IF EXISTS (Select UserId FROM UserMaster u WHERE u.[UserId]=@UserId)
	begin
		UPDATE UserMaster
            SET    CompanyId = @CompanyId,
                   --[Password] = @Password,
				   FirstName = @FirstName,
				   LastName = @LastName,
                   IsActive = @IsActive,
				   UserCategoryId = @UserCategoryId,
				   Email =LOWER(@Email),
				   UpdatedDate = GETDATE(),
				   UpdatedBy = @LoginUser
            WHERE  UserId = @UserId
	end
 END;