USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderConfirmed]    Script Date: 20-06-2023 12:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_OrderConfirmed]
@UserId int,
@CompanyId int,
@AcYear int,
@TrnNo int,
@IsOrderConfirmed bit
As
Begin	

	UPDATE OrderMaster
            SET    
                   IsOrderConfirmed = @IsOrderConfirmed,
				   UpdatedBy = @UserId,
				   UpdatedDate =GETDATE()
            WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo

	IF NOT EXISTS (
            SELECT 1
            FROM OrderMaster
           WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
                AND IsOrderConfirmed = 0
        )
    BEGIN
        UPDATE OrderDetails
        SET IsOrderConfirmed = 1
        WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
    END

	
End		

--exec sp_OrderConfirmed 2,1,2024,3,1
--select * from OrderMaster