USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderDetail_OrderReceived]    Script Date: 21-07-2023 11:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[sp_OrderDetail_OrderReceived]
    @UserId int,
    @CompanyId int,
    @AcYear int,
    @TrnNo int,
    @SeqNo int,
    @IsOrderReceived bit
as
begin
    IF EXISTS
    (
        SELECT 1
        FROM OrderDetails
        WHERE CompanyId = @CompanyId
              and AcYear = @AcYear
              and TrnNo = @TrnNo
              and SeqNo = @SeqNo
              AND IsOrderDispatched = 1
    )
    BEGIN
        UPDATE OrderDetails
        SET IsOrderReceived = @IsOrderReceived,
            UpdatedBy = @UserId,
            UpdatedDate = GETDATE()
        WHERE CompanyId = @CompanyId
              and AcYear = @AcYear
              and TrnNo = @TrnNo
              and SeqNo = @SeqNo
    end
    else
    begin
        return -1
    end
	 IF NOT EXISTS
        (
            SELECT 1
            FROM OrderDetails
            WHERE CompanyId = @CompanyId
                  and AcYear = @AcYear
                  and TrnNo = @TrnNo
                  AND isnull(IsOrderReceived,0) = 0
        )
        BEGIN
            UPDATE OrderMaster
            SET IsOrderReceived = 1
            WHERE CompanyId = @CompanyId
                  and AcYear = @AcYear
                  and TrnNo = @TrnNo
        END
        else
        begin
            UPDATE OrderMaster
            SET IsOrderReceived = 0
            WHERE CompanyId = @CompanyId
                  and AcYear = @AcYear
                  and TrnNo = @TrnNo
        end
end

--exec sp_OrderDetail_OrderReceived 2,2,2024,2,2,0