USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderMaster_OrderDispatched]    Script Date: 22-06-2023 11:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_OrderMaster_OrderDispatched]
@UserId int,
@CompanyId int,
@AcYear int,
@TrnNo int,
@IsOrderDispatched bit
as
begin
IF EXISTS (
            SELECT 1
            FROM OrderMaster
           WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
                AND IsOrderConfirmed = 1
        )
    BEGIN
        UPDATE OrderMaster
            SET    
                   IsOrderDispatched = @IsOrderDispatched,
				   UpdatedBy = @UserId,
				   UpdatedDate =GETDATE()
            WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo
			
    END
	else 
	begin
	return -1
	end
	IF NOT EXISTS (
            SELECT 1
            FROM OrderMaster
           WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
                AND IsOrderDispatched = 0
        )
    BEGIN
        UPDATE OrderDetails
        SET IsOrderDispatched = 1
        WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
    END
	else
	BEGIN
        UPDATE OrderDetails
        SET IsOrderDispatched = 0
        WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
    END

	
end
-- exec sp_OrderMaster_OrderDispatched 3,2,2024,4,0