USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderMaster_OrderConfirmed]    Script Date: 20-06-2023 12:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_OrderMaster_OrderConfirmed]
@CompanyId int,
@AcYear int,
@TrnNo int,
@IsOrderConfirmed bit 
As
Begin
select 1/0
	select IsOrderConfirmed from OrderMaster
	UPDATE OrderDetails
            SET    
                   @IsOrderConfirmed = @IsOrderConfirmed
            WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo
End		
--exec sp_OrderConfirmed 1,2024,2,0