USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderDetail_OrderConfirmed]    Script Date: 21-07-2023 11:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_OrderDetail_OrderConfirmed]
@UserId int,
@CompanyId int,
@AcYear int,
@TrnNo int,
@SeqNo int,
@IsOrderConfirmed bit 
as
begin
IF NOT EXISTS (
            SELECT 1
            FROM OrderDetails
           WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo and
				   SeqNo = @SeqNo
                AND IsOrderDispatched = 1
        )
		begin
UPDATE OrderDetails
            SET    
                   IsOrderConfirmed = @IsOrderConfirmed,
				   UpdatedBy = @UserId,
				   UpdatedDate =GETDATE()
            WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo and
				   SeqNo = @SeqNo
end
else
begin 
return -1
end


IF NOT EXISTS (
            SELECT 1
            FROM OrderDetails
           WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
                AND isnull(IsOrderConfirmed,0) = 0
        )
    BEGIN
        UPDATE OrderMaster
        SET IsOrderConfirmed = 1
        WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
    END
	else
	begin
	UPDATE OrderMaster
        SET IsOrderConfirmed = 0
        WHERE  CompanyId = @CompanyId and 
				   AcYear = @AcYear and
				   TrnNo = @TrnNo 
	end
end