USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderDetail_OrderDispatched]    Script Date: 21-07-2023 11:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_OrderDetail_OrderDispatched]
    @UserId int,
    @CompanyId int,
    @AcYear int,
    @TrnNo int,
    @SeqNo int,
    @IsOrderDispatched bit
as
begin
    IF EXISTS
    (
        SELECT 1
        FROM OrderDetails
        WHERE CompanyId = @CompanyId
              and AcYear = @AcYear
              and TrnNo = @TrnNo
              and SeqNo = @SeqNo
              AND IsOrderConfirmed = 1
    )
    BEGIN
        UPDATE OrderDetails
        SET IsOrderDispatched = @IsOrderDispatched,
            UpdatedBy = @UserId,
            UpdatedDate = GETDATE()
        WHERE CompanyId = @CompanyId
              and AcYear = @AcYear
              and TrnNo = @TrnNo
              and SeqNo = @SeqNo
    end
    else
    begin
        return -1
    end
	 IF NOT EXISTS
        (
            SELECT 1
            FROM OrderDetails
            WHERE CompanyId = @CompanyId
                  and AcYear = @AcYear
                  and TrnNo = @TrnNo
                  AND isnull(IsOrderDispatched,0) = 0
        )
        BEGIN
            UPDATE OrderMaster
            SET IsOrderDispatched = 1
            WHERE CompanyId = @CompanyId
                  and AcYear = @AcYear
                  and TrnNo = @TrnNo
        END
        else
        begin
            UPDATE OrderMaster
            SET IsOrderDispatched = 0
            WHERE CompanyId = @CompanyId
                  and AcYear = @AcYear
                  and TrnNo = @TrnNo
        end
end