USE [OrderSystem]
GO
/****** Object:  StoredProcedure [dbo].[sp_Payment]    Script Date: 29-06-2023 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Payment] (
    @CompanyId int,
    @AcYear int,
    @TrnNo int,
    @SeqNo int,
    @UserId int,
    @PaymentDate Date null,
    @PaymentAmount numeric(10,2),
    @AdjustAmount numeric(10,2),
	@Remark varchar(256)
)
AS
BEGIN
    IF NOT EXISTS (SELECT 'Y' FROM [OrderPayment] u WHERE u.CompanyId = @CompanyId AND u.AcYear = @AcYear AND u.TrnNo = @TrnNo AND u.SeqNo= @SeqNo)
    BEGIN
        IF(ISNULL(@SeqNo,0) = 0)
        BEGIN
            SELECT @SeqNo = COALESCE(Max(SeqNo), 0) + 1
            FROM [OrderPayment]
            WHERE CompanyId = @CompanyId
            AND AcYear = @AcYear
            AND TrnNo = @TrnNo
        END

        --SET @RemaningAmount = @TotalAmount - @PaymentAmount;

        INSERT INTO [dbo].[OrderPayment]
        (
            [UserId], [CompanyId], [AcYear], [TrnNo], [SeqNo],  [PaymentDate],  [PaymentAmount], [AdjustAmount],[Remark], [CreatedDate], [CreatedBy]
        )
        VALUES
        (
            @UserId, @CompanyId, @AcYear, @TrnNo,@SeqNo,  @PaymentDate, @PaymentAmount,  @AdjustAmount,@Remark,GETDATE(), @UserId
        )
    END
    ELSE
    BEGIN
	IF  EXISTS (SELECT 'Y' FROM [OrderPayment] u WHERE u.CompanyId = @CompanyId AND u.AcYear = @AcYear AND u.TrnNo = @TrnNo AND u.SeqNo= @SeqNo)
        UPDATE [dbo].[OrderPayment]
        SET PaymentDate =  @PaymentDate,
            PaymentAmount = PaymentAmount + @PaymentAmount,
            AdjustAmount = AdjustAmount + @AdjustAmount,
            UpdatedDate = GETDATE(),
            UpdatedBy = @UserId
        WHERE CompanyId = @CompanyId AND AcYear = @AcYear AND TrnNo = @TrnNo AND SeqNo= @SeqNo;
    END
	
			UPDATE OrdMast
		SET    ordMast.PaymentAmount = isnull(ordPay.PaymentAmount,0),
			   ordMast.AdjustAmount = isnull(ordPay.AdjustAmount,0),
			   ordMast.RemaningAmount = isnull(ordMast.Amount, 0) - (isnull(ordPay.AdjustAmount, 0)+ isnull(ordPay.PaymentAmount, 0) )
		FROM   OrderMaster ordMast
			   left JOIN(
							SELECT p.CompanyId,p.AcYear,p.TrnNo,Sum(PaymentAmount)PaymentAmount,Sum(AdjustAmount) AdjustAmount
								FROM   OrderPayment p
								WHERE  p.CompanyId = @CompanyId
								   AND p.AcYear = @AcYear
								   AND p.TrnNo = @TrnNo
							  GROUP  BY p.CompanyId,p.AcYear,p.TrnNo
						  ) ordPay ON ordMast.CompanyId = ordPay.CompanyId
								  AND ordMast.AcYear = ordPay.AcYear
								  AND ordMast.TrnNo = ordPay.TrnNo
		WHERE  ordMast.CompanyId = @CompanyId
			   AND ordMast.AcYear = @AcYear
			   AND ordMast.TrnNo = @TrnNo 
END;

 --@CompanyId int,
 --   @AcYear int,
 --   @TrnNo int,
 --   @SeqNo int,
 --   @UserId int,
 --   @PaymentDate Date null,
 --   @PaymentAmount numeric(10,2),
 --   @AdjustAmount numeric(10,2)
--exec test 2,2024,6,0,2,'2023-06-29',7,0
--select * from OrderPayment
--select * from OrderMaster where TrnNo = 6
--update OrderMaster
--set PaymentAmount =0,
--AdjustAmount = 0,
--RemaningAmount = 0 
--where TrnNo = 6