ALTER PROCEDURE [dbo].[sp_UpdateUserWisePartyMaster]
    @jsonData NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare a table variable to hold the parsed JSON data
    DECLARE @UserWisePartyMasterTable TABLE
    (
        CompanyId INT,
        UserId INT,
        PartyCode VARCHAR(16),
        Enable BIT
    );

    -- Parse JSON data into the table variable
    INSERT INTO @UserWisePartyMasterTable (CompanyId, UserId, PartyCode, Enable)
    SELECT 
        JSON_VALUE(value, '$.CompanyId') AS CompanyId,
        JSON_VALUE(value, '$.UserId') AS UserId,
        JSON_VALUE(value, '$.PartyCode') AS PartyCode,
        JSON_VALUE(value, '$.Enable') AS Enable
    FROM OPENJSON(@jsonData);

    -- Update existing records
    UPDATE target
    SET 
        target.Enable = source.Enable,
        target.UpdatedDate = GETDATE(),
        target.UpdatedBy = source.UserId
    FROM [dbo].[UserWisePartyMaster] AS target
    INNER JOIN @UserWisePartyMasterTable AS source
    ON target.CompanyId = source.CompanyId
       AND target.UserId = source.UserId
       AND target.PartyCode = source.PartyCode;

    -- Insert new records
    MERGE INTO [dbo].[UserWisePartyMaster] AS target
    USING @UserWisePartyMasterTable AS source
    ON target.CompanyId = source.CompanyId
       AND target.UserId = source.UserId
       AND target.PartyCode = source.PartyCode
    WHEN NOT MATCHED THEN
        INSERT (CompanyId, UserId, PartyCode, Enable, CreatedDate, CreatedBy)
        VALUES (source.CompanyId, source.UserId, source.PartyCode, source.Enable, GETDATE(), source.UserId);

END;
